* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header nav {
    margin: 20px;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;

}

header nav ul li a {
    text-decoration: none;
    font-size: 30px;

}

header nav ul li ul {
    margin-left: 15px;
    display: none;
    position: absolute;
}

header nav ul li:hover ul {
    background-color: #ff6913;
    display: block;
}

