.contacto   { 
    margin: 5px 20px;
.asesornatura,
.asesornatura_1,
.asesornatura_2 {
font: 16px sans-serif;
padding-top: 85px;

}
.tipo_contactenos {
color: colorencabezados;
padding-top: 20px;
text-align: center;
padding-bottom: 20px;
}.link_numerotel {
background-color: $colornaranja;
color: $colornegro;
font-size: 20px;
}
}