main        {
    .padincarrito {
        padding-bottom: 30px;
    }
    .estilocarrito {
    color: colorencabezados;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 60px;
}
.flex-+{
    display: flex;
    flex-direction: row;
}

}