main{
    .pad_form_pagar {
        padding-top: 150px;
    }
    .pad_footer {
        padding-top: 50px;
    }
    .form-check-input   {
        background-color: $colornaranja;
        border-radius: 18px;
        font-family: Arial;
        color: $colornegro;
        font-size: 20px;
        text-decoration: none;
    }
}