
@import 'colores';
@import 'general';
@import 'mixins';
@import 'header';
@import 'mainindex';
@import 'bordeycolumnasmainproductos';
@import 'mainofertas';
@import 'maincarrito';
@import 'maincontacto';
@import 'mainpagar';
@import 'maincomprafinalizada';
@import 'footer';
@import 'if';

/* index */
 /* productos */
 /* ofertas */


/* carrito */
/* pagar */

/* compra finalizada */






/* contacto */

/* footer */


















/* @media screen and (max-width: 620px) {
    .carrito__main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

} */